body {
   font-family: "Rubik";
}

.container-saldo {
   background-color: #99CD85;
   text-align: center;
   border-radius: 8px;
}

.saldo {
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 30px;
   height: 60px;
}

.novo-registro {
   background-color: #CFE0BC;
   padding: 5px;
   border-radius: 5px;
   box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
   display: flex;
   flex-direction: column;
   text-align: center;
}

.modal-registro {
   display: none;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   z-index: 2;
}

.adc-novo-registro {
   position: absolute;
   right: 20px;
   bottom: 20px;
   border-radius: 50%;
   border: none;
   font-size: 45px;
   width: 50px;
   height: 50px;
   box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
   background-color: #63783D;
}

.padding {
   padding: 5px;
}

.lancamentos {
   display: flex;
   flex-direction: column;
}

.inline {
    display: inline;
}

.lancamento {
   border-left: 5px solid red;
   margin: 5px 0px;
   background-color: #CFE0BC;
}

.opacidade {
   display: none;
   background-color: black;
   height: 100%;
   width: 100%;
   opacity: 0.3;
   position: absolute;
   position: fixed;
   top: 0;
   left: 0;
   z-index: 1;
}

.text-saldo {
   padding-top: 10px;
}